{% for _ in range(1, 4) %}
<div class="col-md-4">
    <!-- Image overlay card -->
    <div class="card card-image mb-4"
        style="background-image: url(https://3.bp.blogspot.com/-4rjcmdU1Dx8/WXeqxTfmfqI/AAAAAAAAAJA/JU40FO8xH4c5uq5fA4bMWzmSzoPrMdglwCLcBGAs/w1200-h630-p-k-no-nu/Drag%25C3%25A3o%2BVermelho%2BWYD.jpg);">
    
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
                <h5 class="deep-orange-text"><i class="fas fa-chart-pie"></i> Novidade</h5>
                <h3 class="card-title pt-2"><strong>Título aqui!</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                    Odit sed qui, dolorum!.</p>
                <a class="btn deep-orange"><i class="fas fa-clone left"></i> Ler mais</a>
            </div>
        </div>
    
    </div>
    <!-- Image overlay card -->
</div>
{% endfor %}